.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -15vw;
    margin-top: -30vh;
}

.cart-width{
    width: 30vw;
}

.custom-input{
    width: 100%;
}

@media only screen and (max-width: 700px) {
    .centered{
        display: table;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        top: 25%;
        left: 0%;
    }

    .cart-width{
        width: 90vw;
    }
}