<mat-card class="centered cart-width">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <mat-form-field appearance="fill" style="width: 100%">
            <mat-label>E-mail:</mat-label>
            <input matInput type="email">
          </mat-form-field>

          <br>

          <mat-form-field appearance="fill" style="width: 100%" >
            <mat-label>Password:</mat-label>
            <input matInput type="password">
          </mat-form-field>

          <br>

          <button mat-button>Sign up</button>

    </mat-card-content>
    <mat-card-actions>
        <button style="width: 100%" mat-raised-button>Sign in</button>
    </mat-card-actions>
</mat-card>
